[tool.coverage.run]
plugins = ["coverage_conditional_plugin"]

[tool.coverage.coverage_conditional_plugin.rules]
py-gte-36 = "sys_version_info >= (3, 6)"
py-gte-37 = "sys_version_info >= (3, 7)"
py-gte-38 = "sys_version_info >= (3, 8)"
py-gte-39 = "sys_version_info >= (3, 9)"
py-gte-310 = "sys_version_info >= (3, 10)"
